/*.tile {
    width: 100%;
    height: 100px;
    padding: 1px !important;
    background-position: left;
    background-size: cover;
    border-radius: 5px;
  }*/

  .tile {
    height: 80px;
  }

  .selected {
    border: 3px solid rgb(0, 95, 178);
    border-radius: 5px;
  }
  .tile-wrapper {
    cursor: pointer;
    padding: 5px;
  }

  /*.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    border-radius: 5px;
  }*/

  .card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    margin: auto;
    text-align: center;
    width:80%
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
  }

  .container {
    /*padding: 2px 16px;*/
    text-align: center;
    font-size: 14px;
  }

  img{
  /*border-radius: 5px 5px 0 0;*/
  border-radius: 50%;
  }

  .datatable{
      height: 100px; /* this will implement a vertical scroll bar in the datatable */
      width: 800px;
  }