.lar{
    height: 200px;
  width: 50%;
}

.barc{
    padding: 30px 10px 10px 10px;
}

.button {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
  }