.container {
    position: relative;
    width: 400px;
    left: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 20%;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .glob{
    background-color: white;
    height: 900px;
  }

  img{
    /*border-radius: 5px 5px 0 0;*/
    border-radius: 20%;
    width: 500px;
    height: 400px;
    display: block;
    }

.bookbut {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: purple;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
}